<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../static/css/style.signIn.css" />
    <title>Sign in & Sign up Form</title>
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form action="#" method="POST" class="sign-in-form">
            <h2 class="title"></h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Student Name" name="username3" autocomplete="off" required/>
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Password" name="password3" autocomplete="off" required/>
            </div>
            <input type="submit" value="ADD" onnc class="btn solid" />
            <p class="social-text"></p>
            
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>Enroll students </h3>
            <p>
              Create usernames and passwords for your students and click add to add student users.
            </p>
            <button  class="btn transparent"  id="sign-up-btn">
              <a style="text-decoration: none; color: #fff;" href="adHome">Home</a>
            </button>
          </div>
          <img src="../static/images/log.svg" class="image" alt="" />
       
      </div>
    </div>

    <script src="../static/js/register.js"></script>
    <script src={{messagebox}}></script>
</html>
